<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">Login</a></li>
  </ul>
  <h3 class="text-muted">CWall</h3>
</div>

<div class="jumbotron">
  <h1>Chat</h1>
  <ul >
    <li ng-repeat="m in messages track by $index">
      <p class="lead" >{{m}}</p>
    </li>
  </ul>

    <input type="text" placeholder="Type text here" ng-model="msg.value">
    <button class="btn btb-primary" ng-click="send()">Send</button>
</div>

<div class="footer">
</div>
